.progress-bar {
    position: relative;
    height: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #333333;
}

.filler {
    background-color: #516991;
    height: 100%;
    border-radius: inherit;
    transition: all .5s ease-in;
}

.progress {
	padding: 0 28px;
	line-height: 0;
}

.progress h4 {
	font-size: 16px;
	font-weight: 100;
}